@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500&family=Roboto:wght@300;400;700&display=swap');

section {
    height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

section .LoginBlock {
    background-color: #F8F8FF;
    width: 25%;
    margin: auto;
    padding: 25px;
    border-radius: 20px;

}

section .LoginBlock h1 {
    color: black;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 36px;
    margin: 0;
    text-align: left;
}

section .LoginBlock .subtitle {
    color: #303030;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    opacity: 43%;
    font-size: 18px;
    text-align: left;
    margin: 5px 0px 45px 0px;
}

form {
    display: flex;
    flex-direction: column;
    margin: auto;
    align-items: flex-start;
}

section .LoginBlock form label {
    color: black;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 18px;
}

section .LoginBlock form input {
    width: 95%;
    padding: 16px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 1px solid rgba(0, 0, 0, 0.21);
    border-radius: 8px;
}

section .LoginBlock form button {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 18px;
    color: white;
    padding: 12px 20px;
    margin: 8px 0;
    background-color: #0D1B8D;
    border: 1px solid #0D1B8D;
    border-radius: 8px;
    width: 95%;
}

section .LoginBlock form button:hover {
    transition-duration: 500ms;
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
}


section .LoginBlock form .info {
    font-family: 'Roboto', sans-serif;
    font-weight: lighter;
    color: black;
    margin: auto;
    padding-top: 20px;
}